<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

    <p>You can use this site to get weather information of any location on Earth!</p>
    <p>However, since here we are using weatherstack api on free version, we have limited calls available per month.</p>
    <p>So after exceeding the available calls per month, we might not be able to provide the weather information.</p>
    <p>Thanks Andrew Mead for awesome tutorials to create this app.</p>

    </div>
    
    {{>footer}}
</body>

</html>